<footer class="<% if (page === "Docs") { %>docs-footer<% } %>">
    <div class="brand">
        <img src="./images/logo.png" alt="Logo" />
        <h1>PotatoDB</h1>
    </div>

    <div class="credits">
        <h3>
            By <a target="_blank" href="https://linktr.ee/swordax">Swordax</a>
        </h3>
        <div class="contact-icons">
            <a
                target="_blank"
                href="https://discord.com/users/465453058667839499/"
                ><i class="fa-brands fa-discord"></i> Swordax#5756</a
            >
            <a target="_blank" href="https://github.com/SwordaxSy"
                ><i class="fa-brands fa-github"></i> SwordaxSy</a
            >
            <a target="_blank" href="mailto:swordax.sy@gmail.com"
                ><i class="fa-solid fa-envelope"></i> swordax.sy</a
            >
        </div>
    </div>
</footer>
<i class="fa-solid fa-circle-arrow-up scroll-up-btn"></i>
