<footer class="<% if (page === "Docs") { %>docs-footer<% } %>">
    <div class="brand">
        <img src="./images/logo.png" alt="Logo" />
        <h1>PotatoDB</h1>
    </div>

    <div class="credits">
        <h3>
            By <a target="_blank" href="https://linkedin.com/in/mobakour">MoBakour</a>
        </h3>
        <div class="contact-icons">
            <a
                target="_blank"
                href="https://discord.com/users/465453058667839499/"
                ><i class="fa-brands fa-discord"></i> swordax</a
            >
            <a target="_blank" href="https://github.com/MoBakour"
                ><i class="fa-brands fa-github"></i> MoBakour</a
            >
            <a target="_blank" href="mailto:mo.bakour@outlook.com"
                ><i class="fa-solid fa-envelope"></i> mo.bakour</a
            >
        </div>
    </div>
</footer>
<i class="fa-solid fa-circle-arrow-up scroll-up-btn"></i>
